<h1>Editar usuario</h1>

<form action="/update/{{_id}}" method="post">
<label for="username">Username</label>
<input type="text" name="username" value="{{username}}">

<label for="password">Password</label>
<input type="password" name="password" value="{{password}}">

<button type="submit">Editar</button>

</form>